:host {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  div.title {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid var(--my-info-backgroud-color);
    border-top: 1px solid var(--my-info-backgroud-color);
    display: flex;
    align-items: center;

    div.add-connection {
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.paths {
      margin-left: 5rem;

      li {
        list-style: none;
      }
    }
  }

  div.footer {
    width: 100%;
    height: 2rem;
    margin-top: auto;
    border-top: 1px solid var(--my-info-backgroud-color);
  }

  div.content {
    height: calc(100% - 5rem);
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;


    div.connection-list {
      width: 15rem;
      height: 100%;
      border-right: 1px solid var(--my-info-backgroud-color);


      li.item {
        list-style: none;
        height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--my-info-backgroud-color);
        text-indent: .5rem;
        cursor: pointer;
        user-select: none;

        div.item-name {
          width: 100%;
        }

        div.item-svg {
          height: 2rem;
          width: 2rem;
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          //display: none;
          visibility: hidden;

          &:hover {
            color: red;
          }

          svg {
            height: 1rem;
            width: 1rem;
          }
        }

        &:hover {
          background: var(--my-info-backgroud-color);

          div.item-svg {
            visibility: visible;
          }
        }

        &.active {
          color: var(--my-primary-color);
          background: var(--my-info-backgroud-color);
        }
      }
    }

    div.file-browser {
      width: calc(100% - 15rem);
      height: calc(100%);
      cursor: pointer;
      user-select: none;
      display: flex;
      flex-direction: column;


      div.operation {
        height: 3rem;
        width: 100%;
        border-bottom: 1px solid lightgray;
        display: flex;

        div.svg {
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        div.svg-plus {
          margin-left: auto;
        }
      }

      div.location-path {
        height: 100%;
        display: flex;
        color: var(--my-primary-color);
        align-items: center;

        > div {
          display: flex;
          height: 1.5rem;
          align-items: center;
          border: 1px solid var(--my-info-text-color);
          background: var(--my-info-backgroud-color);
          border-radius: 5px;
          padding: 5px;
          margin-left: 2px;
          svg {
            height: 1.5rem;
            width: 1.5rem;
          }
        }

        > div.path-filter {
          display: flex;
          align-items: center;
          input {
            border: none;
            background: transparent;
            height: 100%;
            width: 100%;
            outline: none;
          }

          button {
            margin-left: auto;
            margin-right: .5rem;
            border: none;
            background: transparent;
            height: 1rem;
            width: 1rem;
            color: var(--my-primary-color);

            svg {
              height: 1rem;
              width: 1rem;
            }
          }
        }
      }

      div.items {
        max-height: calc(100%);
        max-width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        flex: 1;
        li.item {
          height: 1.5rem;
          width: calc(100% - 4px);
          border-radius: 4px;
          margin: 2px 2px 0 2px;
          display: flex;
          align-items: center;
          list-style: none;

          div.item-name {
            width: 100%;
          }

          &:hover {
            background: var(--my-info-backgroud-color);
            color: var(--my-primary-color);
          }

          svg {
            margin-left: .5rem;
            height: 1.5rem;
            width: 1.5rem;
            margin-right: .5rem;
          }
        }
      }
    }
  }
}

.connection-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  z-index: 9999;
  background: #fff;
  border-radius: 3px;
  width: 10rem;

  .connection-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;

    &:hover {
      background-color: rgb(208, 208, 208);
      color: var(--my-primary-color);
    }

    &:active {
      background-color: rgb(170, 170, 170);
    }
  }

}
.item-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  z-index: 9999;
  background: #fff;
  border-radius: 3px;
  width: 10rem;

  .item-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;

    &:hover {
      background-color: rgb(208, 208, 208);
      color: var(--my-primary-color);
    }

    &:active {
      background-color: rgb(170, 170, 170);
    }
  }
}
